* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, rgb(76, 175, 80), rgb(61, 136, 128));
    overflow: hidden;
    margin: 8px;
}

.card {
    width: 320px;
    height: 380px;
    margin: 100px auto;
    background: #272d40;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 10px;
    font-size: 28px;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    line-height: 20px;
}

.card__img {
    width: 272px;
    transition: 0.5s;
}

.title {
    color: rgb(76, 175, 80);
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
    transition: 0.5s;
}

.cost {
    font-size: 25px;
    font-weight: 700;
    color: whitesmoke;
    padding-bottom: 7px;
    text-align: center;
    transition: 0.5s;
}

.extra {
    /* display: none; */
    text-align: left;
    margin-left: 10px;
}

.extra__header {
    color: whitesmoke;
    font-size: 18.72px;
    font-weight: 700;
}

.nums {
    border-radius: 5px;
    color: rgb(39, 45, 64);
    cursor: pointer;
    font-weight: 700;
    margin: 0 5px;
    padding: 2px 5px;
    width: 50px;
    border: none;
}

.extra__color {
    display: flex;
    align-items: center;
}

.color {
    color: whitesmoke;
    font-size: 18.72px;
    font-weight: 700;
}

.extra__color button {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: none;
    margin: 10px 5px;
    border-radius: 50%;
}

.btn__green {
    background: rgb(0, 128, 0);
}

.btn__red {
    background: rgb(255, 0, 0);
}

.btn__black {
    background: rgb(0, 0, 0);
}

.extra__footer {
    align-items: center;
}

.extra__footer button {
    background:rgb(76, 175, 80);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 3px 5px;
}

.card:hover .card__img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .title {
    transform: translate(-20px, -72px);
}

.card:hover .cost {
    transform: translate(-90px, -72px);
}

.extra__header {
    margin-top: 150px;
}

.extra__color, 
.extra__footer,
.extra__header {
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
}

.card:hover .extra__color, 
.card:hover .extra__footer,
.card:hover .extra__header {
    visibility: visible;
    opacity: 1;
}

.card:hover .extra__header {
    margin-top: -50px;
}